<!DOCTYPE html>
<html>
  <head>
    
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="c">

    {{!-- <link rel="stylesheet" href="https://cdn.rawgit.com/onface/font-awesome/master/css/font-awesome.min.css"> --}}
    {{!-- <link rel="stylesheet" href="/assets/themify-icons-font/themify-icons/themify-icons.css"> --}}
    
    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body>
    {{> header}}
    <div class="container">
    {{{body}}}
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
